<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Odiss</title>
	<link rel="icon" type="image/png" href="img/fav-icon/fav-icon-16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="img/fav-icon/fav-icon-32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/fav-icon/fav-icon-72.png" sizes="72x72">
	<link rel="icon" type="image/png" href="img/fav-icon/fav-icon-144.png" sizes="144x144">

	<meta http-equiv="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="css/style.min.css">
	<script src="js/libs/modernizr.js"></script>
</head>
<body data-colorTheme="">
	<div class="preloader-block">
		<div class="first-level wrapper pa acc ovh">
			<div class="top-part preloader-part"></div>
			<div class="bottom-part preloader-part"></div>

			<div class="second-level wrapper pr fullheight fullwidth ovh">
				<div class="top-part preloader-part"></div>
				<div class="bottom-part preloader-part"></div>
			</div>
		</div>
	</div>

	<header class="wrapper pt20 pb20 tbgc1 section-fix header-wrapper">
		<div class="row">
	 		<div class="column">
				<div class="logo component ac">
					<a href="#" class="link">
						<img src="img/theme/logo.png" alt="logo" class="image darklogo">
						<img src="img/theme/logolight.png" alt="logo" class="image lightlogo">
					</a>
				</div>
			</div>
		</div>
	</header>	

	<section role="main" class="sections-container">

		<section class="pb100 pt50 tbgc1 section-fix" id="aboutus">
			<div class="wrapper">
				<div class="component aboutus">
					<div class="row">
						<div class="column large-12">
							<h2 class="text fz8 fw3 ttu ac lsm mb30 title">About us</h2>
						</div>
					</div>
					<div class="row">
						<div class="column medium-6">
							<p class="text fz4 fw3 fsi lh2 mb40 lighttext">
								Duis eget metus sagittis, ultrices nunc id, tempus lacus. Sed tellus nisi, scelerisque vel augue eget, cursus hendrerit metus. Phasellus eu metus ut orci elementum maximus. Suspendisse potenti. Nam eu euismod elit. Pellentesque ut sapien quis mi cursus ultrices. 
							</p>
							<p class="text fz4 fw3 fsi lh2 mb40 lighttext">
								Duis neque est, egestas sit amet felis in, varius sodales mi. Phasellus libero est, consectetur vitae dapibus eu, tincidunt eget augue.
							</p>
							<p class="text fz4 fw3 fsi lh2 lighttext">
								Cras turpis est, varius vitae volutpat quis, condimentum id neque. Donec in vestibulum ex. Interdum et malesuada fames ac ante ipsum primis in faucibus.
							</p>
						</div>
						<div class="column medium-6">
							<div class="wrapper pl40 pb20 separator left">
								<div class="skills component">
									<ul class="list">
										<li class="mb30">
											<p class="skillprogress text cm fz6 fw3">70%</p>
											<div class="skillbar mt5 mb5">
												<div class="progress animate width slow ease" data-config='{"value": 70}'></div>
											</div>
											<p class="name lh16 text fz4 fw3">returning customers</p>
										</li>
										<li class="mb30">
											<p class="skillprogress text cm fz6 fw3">90%</p>
											<div class="skillbar mt5 mb5">
												<div class="progress animate width slow ease" data-config='{"value": 90}'></div>
											</div>
											<p class="name lh16 text fz4 fw3">satisfaction of demand</p>
										</li>
										<li class="mb30">
											<p class="skillprogress text cm fz6 fw3">65%</p>
											<div class="skillbar mt5 mb5">
												<div class="progress animate width slow ease" data-config='{"value": 70}'></div>
											</div>
											<p class="name lh16 text fz4 fw3">immediate confirmation</p>
										</li>
										<li>
											<p class="skillprogress text cm fz6 fw3">43%</p>
											<div class="skillbar mt5 mb5">
												<div class="progress animate width slow ease" data-config='{"value": 50}'></div>
											</div>
											<p class="name lh16 text fz4 fw3">discount for children</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>	

		<section class="wrapper pb50 pt50 tbgc2 section-fix">
			<div class="wrapper">
				<div class="row">
					<div class="column">
						<div class="wrapper socials-wrapper">
							<div class="social component">
								<ul class="list inline ac xxsgutter">
									<li><a class="link ctm" href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-behance"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-tumblr"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-vk"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-skype"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-yahoo"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-vimeo-square"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-weibo"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-youtube"></i></a></li>
									<li><a class="link ctm" href="#"><i class="fa fa-flickr"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="tbgc3 section-fix">
			<div class="wrapper pt100 pb100">
				<div class="row">
					<div class="column large-1 medium-1 small-1"></div>
					<div class="column large-10 medium-10 small-10">
						<div class="quotes component owl" data-config='{"items": 1}'>
							<div class="quote pl60 pr60">
								<p class="text fw3 fsi fz3 ac lh16 mb30 mt50 lighttext">
									“The most beautiful people we have known are those who have known defeat, known suffering, known struggle, known loss, and have found their way out of the depths. These persons have an appreciation, a sensitivity, and an understanding of life that fills them with compassion, gentleness, and a deep loving concern. Beautiful people do not just happen.” 
								</p>
								<p class="text fw3 fz3 ac mb50">- Elisabeth Kübler-Ross</p>
							</div>
							<div class="quote pl60 pr60">
								<p class="text fw3 fsi fz3 ac lh16 mb30 mt50 lighttext">
									“The most beautiful people we have known are those who have known defeat, known suffering, known struggle, known loss, and have found their way out of the depths. These persons have an appreciation, a sensitivity, and an understanding of life that fills them with compassion, gentleness, and a deep loving concern. Beautiful people do not just happen.” 
								</p>
								<p class="text fw3 fz3 ac mb50">- Elisabeth Kübler-Ross</p>
							</div>
							<div class="quote pl60 pr60">
								<p class="text fw3 fsi fz3 ac lh16 mb30 mt50 lighttext">
									“The most beautiful people we have known are those who have known defeat, known suffering, known struggle, known loss, and have found their way out of the depths. These persons have an appreciation, a sensitivity, and an understanding of life that fills them with compassion, gentleness, and a deep loving concern. Beautiful people do not just happen.” 
								</p>
								<p class="text fw3 fz3 ac mb50">- Elisabeth Kübler-Ross</p>
							</div>
						</div>
					</div>
					<div class="column large-1 medium-1 small-1"></div>
				</div>
			</div>
		</section>

		<section class="parallax-fix" id="services">
			<div class="parallax bg1"></div>
			<div class="wrapper pt100 pb60">
				<div class="row">
					<div class="column large-12">
						<h2 class="text fz8 fw3 ttu lsm mb30 cw ac">Services</h2>
					</div>
				</div>
				<div class="row">
					<div class="column large-6 medium-6">
						<div class="box component">
							<div class="wrapper mb20 pr">
								<div class="wrapper pr icon">
									<div class="wrapper acc pa lh0">
										<span class="text fz9 cw">
											<i class="pe-7s-anchor"></i>
										</span>
									</div>
								</div>
								<div class="wrapper pa pl100 fullheight fullwidth">
									<div class="wrapper fullwidth fullheight">
										<div class="wrapper alc pa pl30">
											<h3 class="text fz4 fw3 ttu smalltitle cw">
												Nivamus in diam in neque
											</h3>
										</div>
									</div>
								</div>
							</div>
							<p class="text fw3 fz3 fsi mb40 cw">
								Etiam vitae ultricies arcu. Vivamus dapibus, ligula non auctor convallis, justo est maximus leo, ac gravida lectus odio vel justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a lectus.
							</p>
						</div>
					</div>
					<div class="column large-6 medium-6">
						<div class="box component">
							<div class="wrapper mb20 pr">
								<div class="wrapper pr icon">
									<div class="wrapper acc pa lh0">
										<span class="text fz9 cw">
											<i class="pe-7s-signal"></i>
										</span>
									</div>
								</div>
								<div class="wrapper pa pl100 fullheight fullwidth">
									<div class="wrapper fullwidth fullheight">
										<div class="wrapper alc pa pl30">
											<h3 class="text fz4 fw3 ttu smalltitle cw">
												Nivamus in diam in neque
											</h3>
										</div>
									</div>
								</div>
							</div>
							<p class="text fw3 fz3 fsi mb40 cw">
								Etiam vitae ultricies arcu. Vivamus dapibus, ligula non auctor convallis, justo est maximus leo, ac gravida lectus odio vel justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a lectus.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="column large-6 medium-6">
						<div class="box component">
							<div class="wrapper mb20 pr">
								<div class="wrapper pr icon">
									<div class="wrapper acc pa lh0">
										<span class="text fz9 cw">
											<i class="pe-7s-settings"></i>
										</span>
									</div>
								</div>
								<div class="wrapper pa pl100 fullheight fullwidth">
									<div class="wrapper fullwidth fullheight">
										<div class="wrapper alc pa pl30">
											<h3 class="text fz4 fw3 ttu smalltitle cw">
												Nivamus in diam in neque
											</h3>
										</div>
									</div>
								</div>
							</div>
							<p class="text fw3 fz3 fsi mb40 cw">
								Etiam vitae ultricies arcu. Vivamus dapibus, ligula non auctor convallis, justo est maximus leo, ac gravida lectus odio vel justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a lectus.
							</p>
						</div>
					</div>
					<div class="column large-6 medium-6">
						<div class="box component">
							<div class="wrapper mb20 pr">
								<div class="wrapper pr icon">
									<div class="wrapper acc pa lh0">
										<span class="text fz9 cw">
											<i class="pe-7s-leaf"></i>
										</span>
									</div>
								</div>
								<div class="wrapper pa pl100 fullheight fullwidth">
									<div class="wrapper fullwidth fullheight">
										<div class="wrapper alc pa pl30">
											<h3 class="text fz4 fw3 ttu smalltitle cw">
												Nivamus in diam in neque
											</h3>
										</div>
									</div>
								</div>
							</div>
							<p class="text fw3 fz3 fsi mb40 cw">
								Etiam vitae ultricies arcu. Vivamus dapibus, ligula non auctor convallis, justo est maximus leo, ac gravida lectus odio vel justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a lectus.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="tbgc1 section-fix" id="pricing">
			<div class="wrapper pt100 pb100">
				<div class="row">
					<div class="column large-12">
						<h2 class="text fz8 fw3 ttu lsm mb30 title ac">Price list</h2>
					</div>
				</div>
				<div class="row">
					<div class="column medium-4">
						<div class="wrapper pr ovh pricelist component">
							<div class="wrapper">
								<div class="hover-top hover-el"></div>
								<div class="hover-bottom hover-el"></div>
							</div>
							<div class="wrapper tbgc5 pt40 pl40 pr40 pb60">
								<h3 class="text fz4 fw3 ttu ac mb10">
									first plan
								</h3>
								<span class="text fz8 ac c5 mb20 lh0">
									<i class="pe-7s-angle-down lh0"></i>
								</span>
								<div class="wrapper ac lh0 mb40">
									<div class="separator bottom dib"></div>
								</div>
								<div class="wrapper ac mb40">
									<div class="wrapper pr dib ac">
										<h4 class="text fz9 fw3 pr20 mr-20 price-container">
											30
											<span class="wrapper pa right top lh0 mr-15 mt15">
												<span class="text fz6 lh0">$</span>
											</span>
										</h4>
									</div>
									<p class="text fz3 ttu fw3 ac">
										per person
									</p>
								</div>
								<div class="wrapper mb40">
									<ul class="list">
										<li class="mb20">
											<p class="text fz3 fsi fw3 ac">Bed & Breakfast</p>
										</li>
										<li class="mb20">
											<p class="text fz3 fsi fw3 ac">Assurance</p>
										</li>
										<li class="mb20">
											<p class="text fz3 fsi fw3 ac">-</p>
										</li>
										<li>
											<p class="text fz3 fsi fw3 ac">-</p>
										</li>
									</ul>
								</div>
								<div class="wrapper ac">
									<span class="button">
										<span class="text fz4 ttu fw3 lh24">
											Get it now
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="column medium-4">
						<div class="wrapper pr ovh pricelist component recomended">
							<div class="wrapper">
								<div class="hover-top hover-el"></div>
								<div class="hover-bottom hover-el"></div>
							</div>
							<div class="wrapper tbgc5 pt40 pl40 pr40 pb60">
								<h3 class="text fz4 fw3 ttu ac mb10">
									second plan
								</h3>
								<span class="text fz8 ac c5 mb20 lh0">
									<i class="pe-7s-angle-down lh0"></i>
								</span>
								<div class="wrapper ac lh0 mb40">
									<div class="separator bottom dib"></div>
								</div>
								<div class="wrapper ac mb40">
									<div class="wrapper pr dib ac">
										<h4 class="text fz9 fw3 pr20 mr-20 price-container">
											50
											<span class="wrapper pa right top lh0 mr-15 mt15">
												<span class="text fz6 lh0">$</span>
											</span>
										</h4>
									</div>
									<p class="text fz3 ttu fw3 ac">
										per person
									</p>
								</div>
								<div class="wrapper mb40">
									<ul class="list">
										<li class="mb20">
											<p class="text fz3 fsi fw3 ac">Half Board</p>
										</li>
										<li class="mb20">
											<p class="text fz3 fsi fw3 ac">Assurance</p>
										</li>
										<li class="mb20">
											<p class="text fz3 fsi fw3 ac">Transport</p>
										</li>
										<li>
											<p class="text fz3 fsi fw3 ac">-</p>
										</li>
									</ul>
								</div>
								<div class="wrapper ac">
									<span class="button">
										<span class="text fz4 ttu fw3 lh24">
											Get it now
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="column medium-4">
						<div class="wrapper pr ovh pricelist component ">
							<div class="wrapper">
								<div class="hover-top hover-el"></div>
								<div class="hover-bottom hover-el"></div>
							</div>
							<div class="wrapper tbgc5 pt40 pl40 pr40 pb60">
								<h3 class="text fz4 fw3 ttu ac mb10">
									third plan
								</h3>
								<span class="text fz8 ac c5 mb20 lh0">
									<i class="pe-7s-angle-down lh0"></i>
								</span>
								<div class="wrapper ac lh0 mb40">
									<div class="separator bottom dib"></div>
								</div>
								<div class="wrapper ac mb40">
									<div class="wrapper pr dib ac">
										<h4 class="text fz9 fw3 pr20 mr-20 price-container">
											70
											<span class="wrapper pa right top lh0 mr-15 mt15">
												<span class="text fz6 lh0">$</span>
											</span>
										</h4>
									</div>
									<p class="text fz3 ttu fw3 ac">
										per person
									</p>
								</div>
								<div class="wrapper mb40">
									<ul class="list">
										<li class="mb20">
											<p class="text fz3 fsi fw3 ac">Full Board</p>
										</li>
										<li class="mb20">
											<p class="text fz3 fsi fw3 ac">Assurance</p>
										</li>
										<li class="mb20">
											<p class="text fz3 fsi fw3 ac">Transport</p>
										</li>
										<li>
											<p class="text fz3 fsi fw3 ac">Equipment</p>
										</li>
									</ul>
								</div>
								<div class="wrapper ac">
									<span class="button">
										<span class="text fz4 ttu fw3 lh24">
											Get it now
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</section>

	<footer class="tbgc5 section-fix">
		<div class="wrapper">
			<div class="row">
				<div class="column large-12">
					<div class="component ac pt40 pb40">
						<p class="text ctm fz3 lh1">&copy;2014 <a href="http://vsart.me/">Odissey Template</a>. All right reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="modals">
		<div class="offer-modal">
			<div class="wrapper tbgc3 pf fullwidth fullheight top left js-details-wrapper details-wrapper">
				<div class="table-container">
					<div class="cell-container">
						<div class="row ovh wrapper">
							<div class="column medium-12 large-4 wrapper fullheight offer-slider-column">
								<div class="offers-slider-container">
								</div>
							</div>
							<div class="column medium-12 large-8">
								<div class="wrapper pa close-btn pointer ovh js-close-details fa fa-angle-left"> <span class="fw3 text">back</span></div>
								<div class="wrapper pb30 pt30 pr offer-tabs-container">
									<div class="wrapper ovh js-details-container">
										<div class="row">
											<div class="column large-7">
												<div class="wrapper">
													<p class="text cm fz6 lh1 js-item-price mb20"></p>
													<h4 class="text title fw3 fz6 cmt lh1 mb15 js-item-title"></h4>
													<div class="description">
														<p class="item-description text fsi fz1 c6 lh2 mb10"></p>
													</div>
												</div>
											</div>
											<div class="column large-5">
												<div class="wrapper">
													<span class="button js-booknow-btn fullwidth ac"><span class="text fz6 lh22 ttu fw3">book now</span></span>
												</div>
												<div class="wrapper js-days-list mt30">
												</div>
											</div>
										</div>
									</div>
									<div class="wrapper js-book-container book-container pa fullwidth fullheight top right tbgc3 pt20 pb20">
										<h4 class="title fz6 cmt lh14 fw3 text mt5 mb-10">Pre-Order</h4>
										<div class="wrapper mt50">
											<form action="#" class="form">
												<div class="row">
													<div class="medium-6 column ar">
														<div class="wrapper mb20 ml15 mr15 inline field-container pr">
															<input type="text" title="name" name="name_field" class="input required pl20 book-field" placeholder="Name">	
															<span class="error-star"></span>
														</div>
													</div>
													<div class="medium-6 column al">
														<div class="wrapper mb20 ml15 mr15 inline field-container pr">
															<input type="text" title="phone" name="phone_field" class="input required pl20 book-field" placeholder="Phone">
															<span class="error-star"></span>
														</div>
													</div>
												</div>
												
												<div class="row">
													<div class="medium-6 column ar">
														<div class="wrapper mb20 ml15 mr15 inline field-container pr">
															<input type="text" name="mail_field" title="email" class="input required pl20 book-field" placeholder="Email"> 
															<span class="error-star"></span>
														</div>		
														<div class="wrapper mb20 ml15 mr15 inline field-container pr">
															<input type="date" title="date" name="date_field" required class="input required pl20 pr10 book-field" placeholder="Date">
															<span class="error-star"></span>
														</div>
													</div>
													<div class="medium-6 column al">
														<div class="wrapper mb20 ml15 mr15 inline field-container pr">
															<textarea  name="message_field" class="textarea required pl20 pb10 book-field" placeholder="Message"></textarea>
															<span class="error-star"></span>
														</div>
													</div>
												</div>
												<div class="row hide">
													<input type="text" name="order_name" class="order-name-field">
													<input type="text" name="order_price" class="order-price-field">
												</div>
					
												<div class="row">
													<div class="medium-12 column">
														<span class="button js-checkout wrapper pr">
															<span class="text fz6 lh22 ttu fw3">Send</span>
															<div class="wrapper form-states">
																<div class="wrapper succes pa fullwidth fullheight">
																	<svg class="wrapper pa acc" enable-background="new 0 0 24 24" version="1.0" viewBox="0 0 24 24" xml:space="preserve">
																	    <polyline points="20,6 9,17 4,12" class="check-mark"/>
																	</svg>
																</div>
																<div class="wrapper error-state pa fullwidth fullheight">
																	<div class="error-sign wrapper pa acc"></div>
																</div>
															</div>
														</span>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/libs/require.js" data-main="js/index"></script>
</body>
</html>